* {
    /* border: solid 1px red; */
    font-family: Trebuchet MS, Arial;
}

:root {
    --slate-blue: #445877;
    --light-blue: #92ccce;
}

h1 {
    font-size: 275%;
    background: var(--light-blue);
    width: 295px;
    height: 55px;
    align-content: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

/* header styles */
header {
    background: #31343d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header div {
    padding: .5% 0 1% 0;
}

header nav {
    display: flex;
    font-size: 19px;
    color: var(--light-blue);
}

header nav ul {
    display: flex;
    padding: 0 2.5em 0 0;
}
.underline-bar {
    background-color: var(--light-blue);
    width: 98%;
    height: 4px;
}

header nav ul li {
    display: flex;
    margin: 5px;
    flex-direction: column;
    align-items: center;
}

header nav ul li a {
    color: var(--light-blue);
    text-decoration: none;
}

/* hero banner styles */
.hero {
    position: relative;
}
.hero img{
    width: 100%;
    height: 305px;
}

.hero-subtitle {
    height: 55px;

    width: 28%;
    position: absolute;
    background: var(--light-blue);
    bottom: 20px;
    right: 62px;
}

.hero-subtitle h2 {
    display: flex;
    height: 100%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
	font-size: 175%;
}

/* body styles */
.body-row {
    display: flex;
    margin: 25px 0 36px 0;
}

.body-left-column {
    display: flex;
    width: 23%;
    justify-content: flex-end;
}
.body-left-column h2 {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: var(--slate-blue);
    padding: 15px;
    width: 4em;
    font-size: 265%;
    ;
}

.body-right-column {
    width: 75%;
    padding: 40px;
}

.separator-bar {
    display: flex;
    background-color: var(--slate-blue);
    width: 5px;

}
.about-me-description {
    margin: 5px 0 10px;
    font-size: 100%;
    color: var(--slate-blue);
    line-height: 1.4;
}

/* project portfolio styles */
.projects-row-first {
    
}
.project-image-first {
    width: 100%;
}
.project-image {
    width: 100%;
    height: 100%;
}

.projects-row {
    display: flex;
}

.project-card {
    border: solid 4px var(--light-blue);
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

.project-card-n {
    
}
.project-card-title-box {
    background-color: var(--light-blue);
    position: absolute;
    left: 0;
    bottom: 15px;
    top: 40px;
    height: 50px;
    padding: .5em;
}


